<div class="col-sm-3">
  <div class="card clearfix" class="hovered" (mouseenter)="mouseenterCard()" (mouseleave)="mouseleaveCard()" style="width: 14rem;">
    <div class="imageWrapper ">
      <img src= "{{card.image}}" class="card-img-top" alt="card.image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{card.name}}</h5>
      <p class="card-price">{{card.price}} грн.</p>

      <div class="buttons">
        <button *ngIf="buyItem" (click)="addToChart(card)" class="btn btn-success btn-sm buy" >
          <i class="fas fa-shopping-cart"></i> Купити
        </button>
        <button *ngIf="itemInCart" class="btn btn-warning btn-sm buy" >
          У кошику
        </button>
        <button routerLink="/detail/{{card.id}}" class="btn btn-primary btn-sm">Детальніше</button>
      </div>
  </div>
</div>
</div>