<h2>ОПЛАТА</h2>
<img width="200px" src="https://deshevshe.ua/images/privat.jpg" alt="privatBank"><img width="200px" src="https://deshevshe.ua/images/visa-master-card.jpg" alt="privatBank">
<p style="margin-top: 15px">У нашому магазині доступна оплата карткою Visa / MasterCard будь-якого українського банку, використовуючи систему безпечних платежів ПриватБанку Комісія системи - 3%. Остаточна вартість товару відображається автоматично при виборі способу оплати "За допомогою Visa / MasterCard".
  Якщо Ви володар платіжної картки ПриватБанку доступна оплата через систему миттєвих платежів Приват24. Комісія системи - 3%. Остаточна вартість товару відображається автоматично при виборі способу оплати "За допомогою Приват24"
  Оплачене замовлення може отримати тільки власник карти з посвідченням особи.
  
   
  
  Кредит від ПАТ «Альфа-Банк»
  
  В нашому інтернет-магазині, Ви можете оформити розстрочку!
  Тепер Вам не потрібно звертатись в Банк для того, щоб взяти кредит на товар.
  Що необхідно зробити:
  1. Вибрати товар
  2. Проінформувати працівника магазину про бажання придбати товар у кредит від ПАТ «Альфа-Банк»
  3. Отримати лист на ел. пошту із ссилкою на заповнення On-line заявки, ОБОВЯЗКОВО!
  Після заповнення On-line заявки отримати рішення по кредиту!
  На наступний робочий день з Вами зв’яжеться кур’єр Банку для підписання кредитного договору!
  
  Розстрочка на 4 місяці - без переплат!
  
  Умови кредитування:
   Офіційне працевлаштування (обов’язково)
   Вік від 21 до 70 років
   Перший внесок - відсутній
   Сума кредиту від 1 000 - 70 000 грн.
   Термін кредитування - 8-36 місяців
   Річна відсоткова ставка - 0,01%
   Разова комісія - відсутня
   Страхівка – відсутня
   Щомісячна комісія складає - з 1 по 4 місяць - 0%; починаючи з 5 місяця – 3,5%
   Досрокове погашеня без додаткових комісій
   Виписка по рахунку ( СМС –інформування ) 50 грн./міс.
  Обов’язково до зустрічі з кур’єром підготувати:
   Оригінал паспорту та коду</p>