.searchFormLabel, .cardItemTitle{
    font-size: 30px;
    margin-top: 25px;
}
.h-200{
    max-height: 25%;
}
#carouselExampleIndicators{
    max-width: 80%;
    margin: 90px auto 15px;
}

.filterProducts{
    display: flex;
}

.serchWrap{
    margin-top: 20px;
}